<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<table>
    <tr>
        <td>
            <p style="text-underline: black"><b>ID</b></p>
        </td>
        <td>
            <p style="text-underline: black"><b>NAME</b></p>
        </td>
        <td>
            <p style="text-underline: black"><b>AGE</b></p>
        </td>
        <td>
            <p style="text-underline: black"><b>EMAIL</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p th:text="${person.getId()}">VALUE</p>
        </td>
        <td>
            <p th:text="${person.getName()}">VALUE</p>
        </td>
        <td>
            <p th:text="${person.getAge()}">VALUE</p>
        </td>
        <td>
            <p th:text="${person.getEmail()}">VALUE</p>
        </td>
    </tr>
</table>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>