<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--Сервер считывает содержимое файла web.xml-->
<!--Перенаправление на DispatcherServlet должно быть здесь-->
<!--Современный способ - конфигурация через java код-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!--  Вводим DispatcherServlet-->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContextMVC.xml</param-value>
    </init-param>
<!-- 1.   В первую очередь загружаем DispatcherServlet-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
<!-- 2.   Любой URL перенаправляется на диспатчер ==> В спринг мвс приложение ==> В правильный контроллер для обработки запроса-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>


</web-app>
